{% extends "layout.html" %}
{% block body %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>El mejor lugar para escoger donde ubicar tu planta<span>.</span></h1>
                <h2 style="color: rgb(219,228,161)">Diferentes metodos de localizacion de plantas ademas de
                    personalizacion a tus necesidades</h2>
            </div>
        </div>

    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="{{ url_for ('static', filename = 'images/idk.png')}}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p style="color : black; font-size: 18px; font-weight:bold; ">
                    La localización de planta es un aspecto crucial en cualquier empresa que busque mejorar su
                    eficiencia y reducir costos. Entre los métodos utilizados para determinar la mejor ubicación de una
                    planta se encuentra el método del centro de gravedad, Distancia Rectangular, Distancia euclidea.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

{% endblock %}