{% extends "layout.html" %}
{% block body %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>El mejor lugar para escoger donde ubicar tu planta<span>.</span></h1>
                <h2 style="color: rgb(219,228,161)">Diferentes metodos de localizacion de plantas ademas de
                    personalizacion a tus necesidades</h2>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about mt-3">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="{{ url_for ('static', filename = 'images/idk.png')}}" class="img-fluid mt-5" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>La clave del éxito empresarial: La importancia de la localización de la planta y sus métodos</h3>
                <p style="color : black; font-size: 18px; font-weight:bold; ">
                    La localización de una planta es una de las decisiones más importantes que deben tomar las empresas,
                    ya que afecta directamente a su capacidad para competir en el mercado. La elección de una ubicación
                    adecuada puede permitir a las empresas aprovechar las oportunidades de mercado, reducir costos y
                    aumentar su eficiencia operativa. Por el contrario, una mala elección de localización puede resultar
                    en costos más altos, baja productividad y, en última instancia, en el fracaso de la empresa. En este
                    artículo, exploraremos la importancia de la localización de la planta y los métodos que las empresas
                    utilizan para tomar esta decisión crítica.
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

{% endblock %}